.digital {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
    font-size: 50px;
    color: #444;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}